## Lecture 15 - Part I

### datetime
- [basics](#basics)
- the [time module](#time)
- time zone [awareness](#tzinfo)
- datetime in [Pandas](#to_datetime)
---

### Basics <a class='anchor' id="basics"></a>

Date is not a datatype in Python, but the `datetime` [module](https://docs.python.org/3.8/library/datetime.html) provides access to date and time functionalities. It defines `date`, `time` and `datetime` objects which provide the necessary tools to handle date and time, including timestamps.

In [ ]:
import datetime

In [ ]:
D = datetime.date(2022, 9, 1)
T = datetime.time(12,0,0) # noon
DT= datetime.datetime(2022, 9, 1, 14, 32, 23)

In [ ]:
print('D:', D)
print('T:', T)
print('DT:', DT)

In [ ]:
print('D:', type(D))
print('T:', type(T))
print('DT:', type(DT))

To make things simple you can always use the `datetime()` function by giving only the date parts as inputs. Hour, minute, and second default to zero.

In [ ]:
DT = datetime.datetime(2022, 9, 1)
print('DT:', DT)

Datetime objects have useful date attributes.

In [ ]:
DN = datetime.datetime.now()
print(DN.year)
print(DN.month)
print(DN.day)
print(DN.hour)
print(DN.minute)
print(DN.second)

Weekday code starts at 0 with Monday beeing 0.

In [ ]:
print(DN.weekday()) # Note, that while year, month, etc are 'attributes', weekday() is a 'method'. That's why you need the perenthesis.

Math operations are also meaningful with datetime objects.

In [ ]:
D1 = datetime.datetime(2010, 12, 10, 14, 32, 23)
DN = datetime.datetime.now()
dt = DN - D1
print(dt)

In [ ]:
type(dt)

These operations create a `timedelta` object. These objects also have the usual datetime attributes.

In [ ]:
print(dt.days)

The `timedelta()` function helps you create a datetime object from another datetime object.

In [ ]:
D0 = datetime.datetime(2022, 9, 1, 14, 32)
D1 = D0 + datetime.timedelta(days = 3)
print(D1)

In [ ]:
D2 = D0 - datetime.timedelta(hours = 1) # You can go back in time in both ways.
D3 = D0 + datetime.timedelta(weeks = -2)
print(D2)
print(D3)

`strptime()` (**str**ing **p**arse **time**) will cast a string to datetime.

In [ ]:
d1 = '2022-04-30'
d2 = 'April 30, 2022'

In [ ]:
print('d1:', datetime.datetime.strptime( d1, '%Y-%m-%d'))
print('d2:', datetime.datetime.strptime( d2, '%B %d, %Y'))

The opposite is `strftime()` (**str**ing **f**rom **time**), which is _datetime object method_, and only needs the *'format='* option as input.

In [ ]:
DT = datetime.datetime(2022, 4, 30, 14, 32, 0)
print(DT)
print(DT.strftime('%Y-%m-%d'))
print(DT.strftime('%B %d, %Y'))

The type casting between strings and datetime, together with the string format codes can be found in the [datetime documentation](https://docs.python.org/3.8/library/datetime.html#strftime-strptime-behavior).

### The `time` Module <a class='anchor' id='time'></a>

In [ ]:
import time

In [ ]:
print(time.time())

`time.time()` will return the *current time* in seconds since the [*UNIX epoch*](https://en.wikipedia.org/wiki/Unix_time), or January 1, 1970. This is ***almost*** the number of seconds since midnight that reference day, excluding leap seconds. The `time` module gives two useful functions: `time()` and `sleep()`.

In [ ]:
n = 0

while n < 5:
    print(time.time())
    time.sleep(2)
    n += 1

### Aware And Naive Timestamps <a class='anchor' id='tzinfo'></a>

In [ ]:
D = datetime.datetime(2021,9,28,1,0,15)
D

Date and time objects may be categorized as “**aware**” or “**naive**” depending on whether or not they include timezone information. Our D variable is *naive*.

In [ ]:
print(D.tzinfo)

In [ ]:
# Python timezone module
import pytz

In [ ]:
D_V = D.astimezone(pytz.timezone("Europe/Vienna"))

In [ ]:
print(D_V.tzinfo)

In [ ]:
print(D_V)
print(D_V.hour)

In [ ]:
# What would it be in Denver, CO?
D_D = D_V.astimezone(pytz.timezone("America/Denver"))
print(D_D)
print(D_D.hour)
print(D_D.tzinfo)

While at first blush these two object look different, the difference between them is zero.

In [ ]:
D_D - D_V

While this looks to be a minor issue, in reality timezone awareness (or the lack of it) can create a mess in your code if you don't check your datetime data. Interactions with databases can be very tricky, because they may return your timestamps and datetime data in a different timezone as you have entered. Also, some modules, like [fbProphet](https://facebook.github.io/prophet/), are picky regarding timezone awareness. 

Finally, list of Python timezones can be found [here](https://gist.github.com/heyalexej/8bf688fd67d7199be4a1682b3eec7568) or by runing the 
```
pytz.all_timezones
```
command.

### Datetime In Pandas <a class = 'anchor' id = 'to_datetime'></a>

Pandas has the `to_datetime()` module to effectively handle date and time information.

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        'year': [2022, 2022, 2021],
        'month': [12, 11, 9],
        'day': [15, 14, 9],
        'hour': [23, 20, 6],
        'data': ['a', 'b', 'b']
    }
)

In [ ]:
df

In [ ]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])

In [ ]:
df

The new column is a *Pandas timestamp*.

In [ ]:
type(df.date.iloc[0])

In [ ]:
df['date_hour'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']])

In [ ]:
df

`to_datetime()` also parses string into datetime.

In [ ]:
df = pd.DataFrame(
    {
        'date': ['April 30, 2022', 'May 1, 2022', 'May 2, 2022'],
        'data': ['a', 'b', 'b']
    }
)

In [ ]:
df

In [ ]:
df['date'] = pd.to_datetime(df.date) # Using the 'format=' option you can help the function to parse string input but many usual formats are automatically parsed into the correct time value.

In [ ]:
df